{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/main/styles.css')}}">
{{ parent() }}
{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row">
        <div class="col-12 image_container">
            <img class="wallpaper" src="{{ asset('Pictures/client_en_panne.jpg') }}" alt="Client en panne">
            <a href="{{ path('contact') }}" class="text-link">Prenez rendez-vous maintenant</a>
        </div>
    </div>

    <section class="row p-3 my-4 justify-content-center">

        <div class="pict col-md-6 ps-md-5">
            <img src="{{ asset('Pictures/kenny-eliason.jpg') }}" class="img-fluid h-100" alt="Vincent PARROT en 2009">
        </div>
        <div class="col-md-12 col-xl-6 px-5">
            <p class="text-center text-light w-100 h-100 d-flex justify-content-center align-items-center mt-3">
                Vincent Parrot, avec 15 ans d'expérience dans la réparation automobile, 
                a ouvert son garage à Toulouse en 2021. En deux ans, il a étendu ses services à la 
                réparation, l'entretien, et la vente de véhicules d'occasion.
            </p>
        </div>
    </section>
    <section class="d-flex flex-md-row-reverse justify-content-center row p-3 my-4">

        <div class="pict col-md-6 ps-md-5">
            <a href="{{ path('services') }}">
                <img src="{{ asset('Pictures/mecanicien_vidange.jpg') }}" class="img-fluid h-100 w-100" alt="vidange de l'huile moteur">
            </a>
        </div>
        <div class="col-md-12 col-xl-6 px-5">
            <p class="text-center text-light w-100 h-100 d-flex justify-content-center align-items-center mt-3">
                Découvrez notre expertise en mécanique automobile chez Garage V. Parrot. Que ce 
                soit pour des réparations mécaniques standard, des diagnostics avancés ou des 
                services d'entretien régulier, nous sommes là pour répondre à tous vos besoins. 
                Explorez notre gamme complète de services mécaniques 
            </p>
        </div>
    </section>
    <section class="row p-3 my-4 justify-content-center">

        <div class="pict col-md-6 ps-md-5">
            <a href="{{ path('vehicules') }}">
                <img src="{{ asset('Pictures/sell_car.jpg') }}" class="img-fluid h-100" alt="Vente de véhicule">
            </a>
        </div>
        <div class="col-md-12 col-xl-6 px-5">
            <p class="text-center text-light w-100 h-100 d-flex justify-content-center align-items-center mt-3">
                Parcourez notre sélection de véhicules d'occasion de qualité au Garage V. Parrot. 
                Que vous recherchiez une voiture fiable pour votre quotidien ou une option 
                spécifique, notre stock répond à divers besoins. Découvrez notre showroom virtuel 
                en explorant notre page dédiée à la vente de véhicules d'occasion 
            </p>
        </div>
    </section>
    <div class="row justify-content-center">
        <a class="btn col-6 col-md-3 my-4" href="{{ path('add_comment') }}" role="button"> Ajouter un commentaire </a>
    </div>
    <section class="row justify-content-center">
        <div class="col-10 col-md-6 comment">
            <h2 class="text-center text-warning">Avis clients</h2>
            <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner py-3">
                    {% for comment in comments %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            <div class="comment-name col-md-6 text-center ps-md-5">
                                {{ comment.name}}
                            </div>
                            <div class="col-md-6 text-center ps-md-5">
                                {% for i in 1..comment.rating %}
                                ⭐️
                                {% endfor %}
                            </div>
                            <div class="col-md-12 px-5">
                                <p
                                    class="text-center text-light w-100 h-100 d-flex justify-content-center align-items-center">
                                    {{ comment.comment }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    
</main>

{% endblock %}