{% block body %}
<div class="container">
    <h1 class="text-center text-warning">Contactez-nous</h1>

    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-md-4">
            {{ form_errors(form) }}
            {{ form_row(form.lastname, {'attr': {'class': 'form-control mb-3'}}) }}
            {{ form_row(form.firstname, {'attr': {'class': 'form-control mb-3'}}) }}
            {{ form_row(form.email, {'attr': {'class': 'form-control mb-3'}}) }}
            {{ form_row(form.phoneNumber, {'attr': {'class': 'form-control mb-3'}}) }}
            {{ form_row(form.message, {'attr': {'class': 'form-control mb-3'}}) }}

            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
