{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/vehicle/detail.css') }}">
{% endblock %}

{% block body %}
<div id="carousel_vehicle" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
    <div class="carousel-inner">
        {% for picture in pictures %}

        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" class="d-block img-fluid img_carousel"
                alt="{{ picture.imageName }}">
            <span class="notify-price text-warning">{{ vehicle.price }} €</span>
        </div>
        {% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_vehicle" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel_vehicle" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container text-light">
    <hr class="my-5">
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <h4 class="text-warning">Marque</h4>
            <span>{{ vehicle.brand }}</span>
        </div>
        <div class="col-6">
            <h4 class="text-warning">Modèle</h4>
            <span>{{ vehicle.model }}</span>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <h4 class="text-warning">Année</h4>
            <span>{{ vehicle.year }}</span>
        </div>
        <div class="col-6">
            <h4 class="text-warning">Kilométrage</h4>
            <span>{{ vehicle.mileage }}</span>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <h4 class="text-warning">Carburant</h4>
            <span>{{ vehicle.fuel }}</span>
        </div>
        <div class="col-6">
            <h4 class="text-warning">Boite de vitesse</h4>
            <span>{{ vehicle.gearbox }}</span>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <h4 class="text-warning">Puissance fiscale</h4>
            <span>{{ vehicle.power }} Cv</span>
        </div>
        <div class="col-6">
            <h4 class="text-warning">Puissance DIN</h4>
            <span>{{ vehicle.getHorsePower() }} Ch</span>
        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="text-warning text-center mb-5">Description</h2>
            <p class="mb-5">{{ vehicle.description|raw }}</p>
        </div>
    </div>
    <hr class="my-5">
    {% include "vehicle/contactForm.html.twig" %}
    <hr class="my-5">
    
</div>
{% endblock %}