{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/vehicle/list.css') }}">
{% endblock %}

{% block title %}Hello VehicleController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row" id="ads">
        {% for vehicle in vehicles %}
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-year">{{ vehicle.year }}</span>
                    <img src="{{ asset('Pictures/upload/vehicle/' ~ vehicle.vehiclePictures.first().imageName) }}"
                        alt="voiture">
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">{{ vehicle.price }} €</span>
                    <span class="card-detail-badge">{{ vehicle.mileage }} Kms</span>
                    <span class="card-detail-badge">{{ vehicle.gearbox }}</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>{{ vehicle.brand }} <br> {{ vehicle.model }}</h5>
                    </div>
                    <a href="{{ path('vehicle_detail', {'id': vehicle.id}) }}" class="ad-btn">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}