{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <h1>Contactez-nous</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.message) }}

        <button type="submit">Envoyer</button>
        
    {{ form_end(form) }}
{% endblock %}
