{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/addComment/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center text-warning mt-5">
            Ajouter un commentaire
        </h2>
        <div class="row justify-content-center my-5">
            <div class="col-md-6">
                {{ form_start(form) }}
                    {{ form_row(form.name, {'attr' : {'class': 'form-control mb-3'}}) }}
                    {{ form_row(form.comment, {'attr' : {'class': 'form-control mb-3'}}) }}
                    {{ form_row(form.rating, {'attr' : {'class': 'rate mb-3'}}) }}
                    <button class="btn ">Enregistré</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
