{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/_track/navbar.css') }}" />
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand fs-4" href="{{ path('acceuil') }}"
      ><img src="{{ asset('Pictures/garage-v-parrot-logo.png') }}" alt="Logo"
    /></a>
    <!-- Toggle Button-->
    <button
      class="navbar-toggler shadow-none border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- SideBar -->
    <div
      class="sidebar offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <!-- SideBar Header-->
      <div class="offcanvas-header text-light border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Garage V.Parrot
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <!-- SideBar Body-->
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4">
        <ul
          class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3"
        >
          <li class="nav-item">
            <a
              class="nav-link {{ app.request.attributes.get('_route') == 'acceuil' ? 'active' : '' }}"
              aria-current="page"
              href="{{ path('acceuil') }}"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link {{ app.request.attributes.get('_route') == 'services' ? 'active' : '' }}" 
            href="{{ path('services') }}"
            >Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {{ app.request.attributes.get('_route') == 'vehicules' ? 'active' : '' }}" 
            href="{{ path('vehicules') }}"
            >Véhicules</a>
          </li>

          <li class="nav-item">
            <a class="nav-link  {{ app.request.attributes.get('_route') == 'contact' ? 'active' : '' }}" 
            href="{{ path('contact') }}"
            >Contact</a>
          </li>

          {% if app.user %} 
            {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}">Administration</a>
              </li>
            </ul>
              <div class="d-flex justify-content-center align-item-center gap-3">
                <a
                  href="{{ path('app_logout') }}"
                  class="btn text-light text-decoration-none px-3 py-1 rounded-4"
                  >Me déconnecter</a
                >
              </div>
            {% elseif is_granted('ROLE_USER') %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('staff') }}">Poste de travail</a>
              </li>
            </ul>
            <div class="d-flex justify-content-center align-item-center gap-3">
              <a
                href="{{ path('app_logout') }}"
                class="btn text-light text-decoration-none px-3 py-1 rounded-4"
                >Me déconnecter</a
              >
            </div>
            {% endif %}
            {% else %}
          </ul>
            <div class="d-flex justify-content-center align-item-center gap-3">
              <a
                href="{{ path('app_login') }}"
                class="btn text-light text-decoration-none px-3 py-1 rounded-4"
                >Me connecter</a
              >
            </div>
            
          {% endif %}

      </div>
    </div>
  </div>
</nav>
